<?xml version="1.0"?>
<launch>
    <arg name="gui" default="true"/>
    <arg name="debug" default="false"/>
    <arg name="verbose" default="false"/>
    <arg name="paused" default="false"/>
    <arg name="respawn_gazebo" default="false"/>

    <arg name="empty_world" default="/home/anifan/hiauto-landing/autolanding_ws/src/sim_utils/sim_node/worlds/empty_default_ground.world"/> 
    <arg name="world" value="$(arg empty_world)"/>

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="gui" value="$(arg gui)"/>
        <!-- 世界在auto_landing_sim里已经改成我的了 -->
        <arg name="world_name" value="$(arg world)"/>
        <arg name="debug" value="$(arg debug)"/>
        <arg name="verbose" value="$(arg verbose)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="respawn_gazebo" value="$(arg respawn_gazebo)"/>
    </include>
</launch>