<?xml version="1.0"?>
<model>
  <name>realsense d435i </name>
  <version>1.0</version>
  <sdf version='1.5'>d435i.sdf</sdf>

  <author>
   <name>Haowen Zheng</name>
   <email>zhenghw23@gmail.com</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with an FPV camera. The original model has been created by
    Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
